.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  label {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.2em;
    .label-text {
      min-width: 200px;
    }
  }
  .note,
  .error {
    font-size: 0.6em;
  }
  .note {
    color: #999999;
    margin-left: 20px;
  }
  .error {
    color: red;
  }
}
